---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_pdqvDlRfWVDT6FMys2wFSpDc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19qVFKHTEfhIcZGi62Qj05Dc",
          "object": "token",
          "card": {
            "id": "card_19qVFKHTEfhIcZGidiToOyeg",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "mEHbjcYawgiiCu68",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "95.90.246.144",
          "created": 1487889574,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 23 Feb 2017 22:39:34 GMT
recorded_with: VCR 3.0.3
