---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QVJSaVB6azF4M3NuLUZXWXJDbURKdlQ1Q1ctdzlqb3VLdkM2akw2VGdJNWp6VkNfNTg4MFBkTnRRc0tDT0g2Rk9pbElOWlM1V0NNU1UzemI6RUMteWxkYXE1dl94VFpuU1k5QXVXc3ZVTzJpS25DeFhKTmZ2UHNpbGROTWpwWVR4Z2IzNXVmdnRmejY2MkdTbmZMMFdSTUhROTNkaEU5cTQ=
      Paypal-Request-Id:
      - dd3ac47a-d85c-4aaf-ab32-9b1cb41e00f4
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 8a8663db9aab2
      - 8a8663db9aab2
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/applications/webhooks
        openid","nonce":"2017-10-22T16:54:00ZNT5OIJx7F0OVycATnLx5P08yn21Ut9SdNqfhC7QilSM","access_token":"A21AAHttT1Jg5WD56necWLzRzZyXtzHlBZYSTUJd669AxE2ELddYL0pmrbniL6I3lWDncaxv6w8HdAKhJNdHBaxpSVgGzV3-Q","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":32400}'
  recorded_at: Sun, 22 Oct 2017 16:54:01 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"1","name":"MyString
        15 Jul 20:07","quantity":"1","price":"15.00","currency":"USD"},{"sku":"1","name":"MyString
        15 Jul 20:07","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://31c2a5f1.ngrok.io/paypal/approved","cancel_url":"http://31c2a5f1.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHttT1Jg5WD56necWLzRzZyXtzHlBZYSTUJd669AxE2ELddYL0pmrbniL6I3lWDncaxv6w8HdAKhJNdHBaxpSVgGzV3-Q
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - dd3ac47a-d85c-4aaf-ab32-9b1cb41e00f4
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 9cda40e82786e
      - 9cda40e82786e
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-2PT37474BP060393NLHWM2KQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"MyString
        15 Jul 20:07","sku":"1","price":"15.00","currency":"USD","quantity":1},{"name":"MyString
        15 Jul 20:07","sku":"1","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2017-10-22T16:54:02Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2PT37474BP060393NLHWM2KQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-4WE89451JH832093U","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2PT37474BP060393NLHWM2KQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Sun, 22 Oct 2017 16:54:03 GMT
recorded_with: VCR 3.0.3
