---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_pdqvDlRfWVDT6FMys2wFSpDc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1BFmIZHTEfhIcZGinIuk2uzX",
          "object": "token",
          "card": {
            "id": "card_1BFmIZHTEfhIcZGiFPfI76O4",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "mEHbjcYawgiiCu68",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "67.164.65.121",
          "created": 1508689659,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 22 Oct 2017 16:27:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_1BFmIZHTEfhIcZGinIuk2uzX&description=&metadata[reference]=da3b4ac17614e0eaea2f
    headers:
      Authorization:
      - Bearer sk_test_pdqvDlRfWVDT6FMys2wFSpDc
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - da3b4ac17614e0eaea2f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - da3b4ac17614e0eaea2f
      Original-Request:
      - req_N9AIaBt0pNxzi7
      Stripe-Version:
      - '2017-01-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1BFmIZHTEfhIcZGiDa22wsCF",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1BFmIZHTEfhIcZGiFmwQuBrs",
          "captured": true,
          "created": 1508689659,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "da3b4ac17614e0eaea2f"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1BFmIZHTEfhIcZGiDa22wsCF/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1BFmIZHTEfhIcZGiFPfI76O4",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "mEHbjcYawgiiCu68",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Sun, 22 Oct 2017 16:27:40 GMT
recorded_with: VCR 3.0.3
